#### Creating DataFrames
Different ways to create Pandas DataFrame

**1. From Python Lists**

In [1]:
import pandas as pd

data = [
    ['Alice', 25],
    ['Bob', 21],
    ['Charlie', 27]
]

df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

      Name  Age
0    Alice   25
1      Bob   21
2  Charlie   27

---

**2.From Dictionary Lists**

In [2]:
data = {
    'name':['Alice', 'Bob', 'Charlie'],
    'age':[20, 23, 25],
    'city':['Mumbai', 'Delhi', 'Pune']
}

df = pd.DataFrame(data)
print(df)

      name  age    city
0    Alice   20  Mumbai
1      Bob   23   Delhi
2  Charlie   25    Pune

Each key becomes a column, and each list is the column data.

---

**3. From CSV File**

In [9]:
df = pd.read_csv('data.csv', sep=',', nrows=10)
print(df)

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North
5  2023-01-06        B   54.0  Product3  192.0   West
6  2023-01-07        A   16.0  Product1  936.0   East
7  2023-01-08        C   89.0  Product1  488.0   West
8  2023-01-09        C   37.0  Product3  772.0   West
9  2023-01-10        A   22.0  Product2  834.0   West

Use options like: `sep`, `header`, `names`, `index_col`, `usecols`, `nrows`, etc.

---

**4.From Excel files**

In [12]:
df = pd.read_excel('data.xlsx')
print(df)

    Name  Age
0  Krish   32
1   Jack   34
2   John   31