#### What is SQLite?

SQLite is a lightweight, serverless, self-contained SQL database engine. It stores the entire database (tables, indexes, and data) in a single file on disk, making it simple to use and deploy -- no seperate database server or configuration required.

It is a relational database, meaning data is stored in tables with rows and columns, and can be queried using SQL (Structured Query Language).

SQLite comes built into Python, accessible through the module `sqlite3`.

---
#### Why use SQLite?

- Zero setup: No installation or configuration - it's built into Python.

- Lightweight: Great for small to medium projects, prototyping, and embedded systems.

- File based: The entire data is just one `.db` or .sqlite` file, portable and easy to share.

- Fast & efficient: Ideal for applications where speed matters and concurrency is low.

- Cross-platform: Works on Windows, macOS, Linux, Android, and iOS.

- Perfect for learning SQL or creating small local data-driven applications.

Common use cases:

- Local data storage for desktop or mobile apps.

- Testing and development before scaling to larger databases (MySQL, PostgreSQL).

- Offline analytics or machine learning projects.

- Small web applications or data pipelines.

---
#### How it works?

SQLite operates without a server â€” the database engine directly reads and writes to a file on disk.

When you execute SQL commands through Python or another interface:

1. The SQLite engine parses the SQL query.

2. It modifies or retrieves data stored in the `.db` file.

3. The results are returned immediately to your application.

All transactions are ACID-compliant (Atomicity, Consistency, Isolation, Durability), ensuring reliable data operations even if the system crashes.

---
#### Syntax and Basic Commands

You can interact with SQLite through the `sqlite` module in Python.

**1. Creating a Database and Connection**

In [1]:
import sqlite3

# Connect (creates a file if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor to execute SQL commands
cursor = conn.cursor()

**2. Creating a Table**

In [2]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    grade TEXT
)
""")

conn.commit()

**3. Inserting Data**

In [3]:
cursor.execute("""
INSERT INTO students 
(name, age, grade)
VALUES
('Alice', 20, 'A')
"""
)
conn.commit()

**4. Reading Data**

In [4]:
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Alice', 20, 'A')

**5. Updating Data**

In [5]:
cursor.execute("UPDATE students SET grade='B' WHERE name='Alice'")
conn.commit()

**6. Deleting Data**

In [6]:
cursor.execute("DELETE FROM students WHERE name='Alice'")
conn.commit()

**7. Closing Connection**

In [7]:
conn.close()

---

#### Example: Simple Student Database

In [11]:
import sqlite3

conn = sqlite3.connect('school.db')

cursor = conn.cursor()

# Create a table named students
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT,
age INTEGER
)
""")
conn.commit()

# Insert data into students database
students = [('Alice', 20), ('Bob', 19), ('Charlie', 21)]
cursor.executemany("""
INSERT INTO students
(name, age)
VALUES
(?, ?)""", students)
conn.commit()

# Query Data
cursor.execute('SELECT name, age FROM students')
for name, age in cursor.fetchall():
    print(f'{name}:{age}')

conn.close()

Alice:20
Bob:19
Charlie:21
Alice:20
Bob:19
Charlie:21