# Module: SQLite3 Assignments
## Lesson: SQLite3

##### Assignment 1: Creating and connecting to a Database

1. Write a Python function to create a new SQLite database named `test.db`

In [1]:
import sqlite3

def create_db(db_name):
    conn = sqlite3.connect(db_name)
    return conn

db_name = 'test.db'
conn = create_db(db_name)

2. Write a Python function to create a table named employee with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [2]:
def create_table(table_name):
    cursor = conn.cursor()

    cursor.execute(f"""
    CREATE TABLE IF NOT EXISTS {table_name} (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    department TEXT)
    """)
    conn.commit()
    return cursor

table_name = 'employee'
cursor = create_table(table_name)

---

##### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee intot the `employees` table.

In [3]:
def insert_data(data):
    cursor.execute("""
    INSERT INTO employee
    (name, age, department)
    VALUES (?, ?, ?)""", data)

    conn.commit()

data = ('Alice', 35, 'Business Analytics')
insert_data(data)

2. Insert at least 5 different employees into the `employees` table.

In [4]:
def insert_many(data_points):
    cursor.executemany("""
    INSERT INTO employee
    (name, age, department)
    VALUES (?, ?, ?)""", data_points)

    conn.commit()

data_points = [('Bob', 30, 'Marketing'), ('Charlie', 43, 'Manufacturing'), ('David', 32, 'Marketing'), ('Eve', 34, 'Designing'), ('Frail', 45, 'HR')]
insert_many(data_points)

---

##### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [5]:
def fetch_data():
    cursor.execute("SELECT * FROM employee")
    for id, name, age, department in cursor.fetchall():
        print(f'ID: {id}, Name: {name}, Age: {age}, Deparment: {department}')
    
fetch_data()

ID: 3, Name: Charlie, Age: 43, Deparment: Manufacturing
ID: 4, Name: David, Age: 32, Deparment: Marketing
ID: 5, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 6, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 7, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 8, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 9, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 10, Name: David, Age: 32, Deparment: Hiring Department
ID: 11, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 12, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 13, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 14, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 15, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 16, Name: David, Age: 32, Deparment: Hiring Department
ID: 17, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 18, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 19, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 20, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 21, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 22, Name: David, Age: 32, Deparment: Hiring Department
ID: 23, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 24, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 25, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 26, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 27, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 28, Name: David, Age: 32, Deparment: Hiring Department
ID: 29, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 30, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 31, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 32, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 33, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 34, Name: David, Age: 32, Deparment: Hiring Department
ID: 35, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 36, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 37, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 38, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 39, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 40, Name: David, Age: 32, Deparment: Hiring Department
ID: 41, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 42, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 43, Name: Alice, Age: 35, Deparment: Business Analytics
ID: 44, Name: Bob, Age: 30, Deparment: Marketing
ID: 45, Name: Charlie, Age: 43, Deparment: Manufacturing
ID: 46, Name: David, Age: 32, Deparment: Marketing
ID: 47, Name: Eve, Age: 34, Deparment: Designing
ID: 48, Name: Frail, Age: 45, Deparment: HR

2. Write a Python function to fetch and display all employees from a specific department.

In [6]:
def fetch_specific_data():
    cursor.execute("SELECT * FROM employee WHERE department='Marketing'")
    for id, name, age, department in cursor.fetchall():
        print(f'ID: {id}, Name: {name}, Age: {age}, Deparment: {department}')

fetch_specific_data()

ID: 4, Name: David, Age: 32, Deparment: Marketing
ID: 44, Name: Bob, Age: 30, Deparment: Marketing
ID: 46, Name: David, Age: 32, Deparment: Marketing

---

##### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [7]:
def update_emp_id(emp_id):
    cursor.execute(f'UPDATE employee SET department="Digital Marketing" WHERE id={emp_id}')
    conn.commit()

emp_id = 2
update_emp_id(emp_id)

2. Update the department of at least 2 employees and display the updated records.

In [8]:
def update_emp_data():
    cursor.execute("UPDATE employee SET department='Hiring Department' WHERE id > 4")
    conn.commit()
    cursor.execute("SELECT * FROM employee WHERE id > 4")
    for id, name, age, department in cursor.fetchall():
        print(f'ID: {id}, Name: {name}, Age: {age}, Deparment: {department}')

update_emp_data()

ID: 5, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 6, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 7, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 8, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 9, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 10, Name: David, Age: 32, Deparment: Hiring Department
ID: 11, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 12, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 13, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 14, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 15, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 16, Name: David, Age: 32, Deparment: Hiring Department
ID: 17, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 18, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 19, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 20, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 21, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 22, Name: David, Age: 32, Deparment: Hiring Department
ID: 23, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 24, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 25, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 26, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 27, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 28, Name: David, Age: 32, Deparment: Hiring Department
ID: 29, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 30, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 31, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 32, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 33, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 34, Name: David, Age: 32, Deparment: Hiring Department
ID: 35, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 36, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 37, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 38, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 39, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 40, Name: David, Age: 32, Deparment: Hiring Department
ID: 41, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 42, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 43, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 44, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 45, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 46, Name: David, Age: 32, Deparment: Hiring Department
ID: 47, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 48, Name: Frail, Age: 45, Deparment: Hiring Department

---

##### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employee` table based on their `id`.

In [9]:
def delete_with_id(emp_id):
    cursor.execute(f'DELETE FROM employee WHERE id={emp_id}')
    conn.commit()

emp_id = 2
delete_with_id(emp_id)

2. Delete at least 1 employee and display the remaining records.

In [10]:
def delete_emp():
    cursor.execute('DELETE FROM employee WHERE id=1')
    conn.commit()
    cursor.execute('SELECT * FROM employee')
    for id, name, age, department in cursor.fetchall():
        print(f'ID: {id}, Name: {name}, Age: {age}, Deparment: {department}')

delete_emp()

ID: 3, Name: Charlie, Age: 43, Deparment: Manufacturing
ID: 4, Name: David, Age: 32, Deparment: Marketing
ID: 5, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 6, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 7, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 8, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 9, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 10, Name: David, Age: 32, Deparment: Hiring Department
ID: 11, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 12, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 13, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 14, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 15, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 16, Name: David, Age: 32, Deparment: Hiring Department
ID: 17, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 18, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 19, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 20, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 21, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 22, Name: David, Age: 32, Deparment: Hiring Department
ID: 23, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 24, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 25, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 26, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 27, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 28, Name: David, Age: 32, Deparment: Hiring Department
ID: 29, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 30, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 31, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 32, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 33, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 34, Name: David, Age: 32, Deparment: Hiring Department
ID: 35, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 36, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 37, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 38, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 39, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 40, Name: David, Age: 32, Deparment: Hiring Department
ID: 41, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 42, Name: Frail, Age: 45, Deparment: Hiring Department
ID: 43, Name: Alice, Age: 35, Deparment: Hiring Department
ID: 44, Name: Bob, Age: 30, Deparment: Hiring Department
ID: 45, Name: Charlie, Age: 43, Deparment: Hiring Department
ID: 46, Name: David, Age: 32, Deparment: Hiring Department
ID: 47, Name: Eve, Age: 34, Deparment: Hiring Department
ID: 48, Name: Frail, Age: 45, Deparment: Hiring Department

---

##### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older then certain age.

In [11]:
def fetch_older(age):
    cursor.execute(f'SELECT * FROM employee WHERE age > {age}')
    rows = cursor.fetchall()
    return rows

rows = fetch_older(35)
for row in rows:
    print(row)

(3, 'Charlie', 43, 'Manufacturing')
(6, 'Frail', 45, 'Hiring Department')
(9, 'Charlie', 43, 'Hiring Department')
(12, 'Frail', 45, 'Hiring Department')
(15, 'Charlie', 43, 'Hiring Department')
(18, 'Frail', 45, 'Hiring Department')
(21, 'Charlie', 43, 'Hiring Department')
(24, 'Frail', 45, 'Hiring Department')
(27, 'Charlie', 43, 'Hiring Department')
(30, 'Frail', 45, 'Hiring Department')
(33, 'Charlie', 43, 'Hiring Department')
(36, 'Frail', 45, 'Hiring Department')
(39, 'Charlie', 43, 'Hiring Department')
(42, 'Frail', 45, 'Hiring Department')
(45, 'Charlie', 43, 'Hiring Department')
(48, 'Frail', 45, 'Hiring Department')

2. Write a Python function to fetch and display employees whose names start with specific letter.

In [12]:
def fetch_specific_employees():
    cursor.execute(f'SELECT * FROM employee WHERE name LIKE "C%"')
    rows = cursor.fetchall()
    return rows

for row in fetch_specific_employees():
    print(row)

(3, 'Charlie', 43, 'Manufacturing')
(9, 'Charlie', 43, 'Hiring Department')
(15, 'Charlie', 43, 'Hiring Department')
(21, 'Charlie', 43, 'Hiring Department')
(27, 'Charlie', 43, 'Hiring Department')
(33, 'Charlie', 43, 'Hiring Department')
(39, 'Charlie', 43, 'Hiring Department')
(45, 'Charlie', 43, 'Hiring Department')

---

##### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [13]:
def insert_using_transaction():
    cursor.execute("BEGIN")
    try:
        cursor.execute('''
        INSERT INTO employees 
        (id, name, age, department)
        VALUES
        (1, 'Aarav Kumar', 28, 'Engineering'),
        (2, 'Riya Sharma', 32, 'Human Resources'),
        (3, 'John Mathews', 45, 'Finance'),
        (4, 'Saanvi Patel', 26, 'Marketing'),
        (5, 'Arjun Mehta', 30, 'Engineering'),
        (6, 'Emily Johnson', 38, 'Operations'),
        (7, 'Karan Verma', 29, 'Sales'),
        (8, 'Sophia Williams', 41, 'Finance'),
        (9, 'Vikram Singh', 35, 'Engineering'),
        (10, 'Neha Kapoor', 27, 'Customer Support');''')
        conn.commit()
    except Exception:
        conn.rollback()

insert_using_transaction()

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that any update fails, none of the updates are commited.

In [14]:
def update_emp_using_transactions():
    cursor.execute("BEGIN;")
    try:
        cursor.execute('UPDATE employee SET age = 30 WHERE name = "Karan Verma"')
        cursor.execute('UPDATE employee SET age = 28 WHERE name = "Vikram Singh"')
        cursor.execute('UPDATE employee SET age = 42 WHERE name = "Sophia Williams"')
        conn.commit()
    except Exception:
        conn.rollback()

update_emp_using_transactions()

---

##### Assignment 8: Creating Relationships

1. Create a table named departments with columns id (integer) and name (text).

In [ ]:
cursor.execute('CREATE TABLE departments ( id INTEGER, name TEXT)')
conn.commit()

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table