#### What are imbalanced datasets?

An imbalanced dataset is one where the distribution of classes (or target labels) is not equal.

*For Example*:

Binary Classification: Fraud Detection where -

- Legitimate transactions : 98,000

- Fraudulant transactions : 2,000

---

#### Why do we handle them?

Because most machine learning models assume that the data is fairly balanced. If not handled properly:

- The model may become biased towards majority classes.

- It may show higher accuracy but poor performance on the minority class.

*Example*:

If the model always predicts "legit" it will be 98% accurate but totally useless at catching fraud.

---

#### Handling Missing Values:

In [4]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibiity
np.random.seed(42)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9

n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

print(n_class_0, n_class_1)

# Create a dataframe with imbalanced data
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

900 100

In [6]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [7]:
df.head()

   feature_1  feature_2  target
0   0.496714   0.368673       0
1  -0.138264  -0.393339       0
2   0.647689   0.028745       0
3   1.523030   1.278452       0
4  -0.234153   0.191099       0

In [8]:
df.tail()

     feature_1  feature_2  target
995   1.629989   3.070150       1
996   1.741204   1.973479       1
997   3.598647   1.118125       1
998   2.560919   1.836933       1
999   1.704520   1.255097       1

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

##### 1. Up Sampling:

We increase the number of samples in the minority class by randomly duplicating them until classes are balanced.

In [10]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [12]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority,     #* Minority class that we want to increment
         replace=True,    #* Implements resampling with samples
         n_samples=len(df_majority),  #* Number of minority samples to create
         random_state=42)

In [14]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   3.775311   3.261922       1
992   1.563614   3.188913       1
914   1.731469   0.198942       1
971   1.785079  -0.940389       1
960   1.865691   1.945106       1

In [15]:
df_minority_upsampled.shape

(900, 3)

In [16]:
df_upsampled = pd.concat([df_minority_upsampled, df_majority])

In [17]:
df_upsampled['target'].value_counts()

target
1    900
0    900
Name: count, dtype: int64

##### 2. Down Sampling:

We reduce the number of samples in the majority class to match the minority class.

In [19]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [23]:
df_majority = df[df['target'] == 0]
df_minority = df[df['target'] == 1]

In [24]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority,
                                   replace=True,
                                   n_samples=len(df_minority),
                                   random_state=42)

In [25]:
df_majority_downsampled.shape

(100, 3)

In [27]:
df_downsampled = pd.concat([df_majority_downsampled, df_minority])

In [29]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64