This "Medium Level" set builds upon the fundamentals you've mastered. It introduces design patterns in OOP, relational complexity in SQLite, and a new focus on **Statistics and Probability** using Python and NumPy.

---

# Python Practice Part 3: Medium Level

### Topic 1: Advanced OOP - Composition & Abstract Classes

**Assignment 1: Class Composition**

1. Create an `Engine` class with a method `start()` that returns `"Engine started"`.
2. Create a `Car` class that **contains** an instance of `Engine` as an attribute. Add a method `start_car()` that calls the engine's `start()` method.

**Assignment 2: Abstract Base Classes (ABC)**

1. Use the `abc` module to create an abstract class `Shape` with an abstract method `area()`.
2. Implement two subclasses, `Circle` and `Square`, that provide their own implementation of `area()`.

---

### Topic 2: Relational Databases - Joins & Transactions

**Assignment 3: SQLite Foreign Keys**

1. Create two tables: `Departments` (id, name) and `Employees` (id, name, dept_id).
2. Establish a relationship by making `dept_id` a Foreign Key pointing to the `Departments` table.

**Assignment 4: Intermediate Querying (JOIN)**

1. Insert sample data into both tables.
2. Write a query using an `INNER JOIN` to display a list of employee names along with their department names.

**Assignment 5: Database Transactions**

1. Write a script that attempts to insert two records. Use `try-except` to ensure that if the second insertion fails, the first one is **rolled back** using `conn.rollback()`.

---

### Topic 3: Concurrency & Decorators

**Assignment 6: Decorators with Arguments**

1. Create a decorator `@repeat(n)` that executes the decorated function `n` times.
2. Apply it to a function that prints `"Task Executed"`.

**Assignment 7: Process Pools**

1. Use `concurrent.futures.ProcessPoolExecutor` to calculate the factorial of five different numbers in parallel.
2. Print the results as they are completed.

---

### Topic 4: Descriptive Statistics

**Assignment 8: Central Tendency from Scratch**

1. Given a list of numbers, write a function to calculate the **Mean** and **Median** without using the `statistics` or `numpy` libraries.
2. Create another function to find the **Mode**.

**Assignment 9: Measures of Dispersion**

1. Create a function to calculate the **Variance** of a dataset.
2. Calculate the **Standard Deviation**  using the square root of the variance.

**Assignment 10: Weighted Mean**

1. Create two arrays: `values` and `weights`.
2. Use NumPy to calculate the weighted average of the values.

---

### Topic 5: Probability & Simulations

**Assignment 11: Coin Toss Simulation (Law of Large Numbers)**

1. Simulate flipping a fair coin 10,000 times ( for tails,  for heads).
2. Calculate the experimental probability of getting heads and compare it to the theoretical .

**Assignment 12: Binomial Distribution**

1. A shooter has an 80% chance of hitting a target. Simulate 10 shots and repeat this experiment 1000 times using `np.random.binomial`.
2. Find the probability that the shooter hits the target exactly 8 times.

**Assignment 13: Normal Distribution & Z-Scores**

1. Generate 1000 data points representing heights with a mean of  and a standard deviation of .
2. Calculate what percentage of the data falls within one standard deviation ( to ).

**Assignment 14: Bayes' Theorem Application**

1. Write a function to solve this: A medical test is 99% accurate (). Only 1% of the population is sick (). If a person tests positive, what is the probability they are actually sick?
2. Implement the formula: .

---

### Topic 6: Integration Task

**Assignment 15: The Data Pipeline**

1. Read a CSV file containing "Student_Name" and "Test_Score".
2. Store the data in a SQLite database.
3. Query the database to calculate the **Mean** and **Standard Deviation** of the scores and log the results to a file named `analysis.log`.

---

### How to proceed?

I can provide the **Python solution code** for any of these. Which topic would you like to solve first? (e.g., **"Give me the code for the Statistics and Probability assignments"**)

##### Assignment 1: Class Composition

1. Create an `Engine` class with a method `start()` that returns `Engine Started`.

2. Create a `Car` class that contains an instance of `Engine` as an attribute. Add a method to `start_car()` that calls the engine's `start()` method.

In [21]:
class Engine:
    def start(self):
        return 'Engine Started.'
    
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
        self.engine = Engine()

    def start_car(self):
        return self.engine.start()
    
c1 = Car('Toyota', 'G2')
c1.start_car()

'Engine Started.'

---

##### Assignment 2: Abstract Base Classes (ABC)

1. Use the `abc` module to create an abstract class `Shape` with an abstract method `area()`

2. Implement two subclasses, `Circle` and `Square`, that provide their own implementation of `area()`.

In [22]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        return f'Area of the shape.'
    

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return f'Area of the Circle is : {3.14 * (self.radius * self.radius)}'
    
class Square(Shape):
    def __init__(self, side):
        self.side = side

    def area(self):
        return f'Area of Square is : {self.side * self.side}'
    

c1 = Circle(2)
s1 = Square(4)

c1.area()
s1.area()

'Area of Square is : 16'

---

##### Assignment 3: SQLite Foreign Keys

1. Create two tables: `Departments` (id, name) and `Employees` (id, name, dept_id).

2. Establish relationship by making `dept_id` a foreign key pointing to the `Departments` table.

In [23]:
import sqlite3

# establish connection
conn = sqlite3.connect('test.db')

# Create cursor
cursor = conn.cursor()

# Create tables
# ^ Departments
cursor.execute('''CREATE Table if not exists departments 
               (id integer primary key autoincrement,
                name varchar(50) not null)
            ''')

# ^ Employees
cursor.execute('''create table if not exists employees 
               (id integer primary key autoincrement, 
               name varchar(50) not null, 
               dept_id integer,
               foreign key (dept_id) references departments (id))
            ''')

conn.commit()

---

##### Assignment 4: Intermediate Querying (JOIN)

1. Insert sample data into both tables.

In [24]:

dept_name = [('IT',), ('HR',), ('Marketing',), ('Sales',)]
cursor.executemany('''insert into departments 
               (name)
               values
               (?)''', dept_name)

employee_info = [('Alice', 1), ('Bob', 2), ('Charlie', 3), ('Dean', 4)]
cursor.executemany('''insert into employees
               (name, dept_id)
               values
               (?, ?)''', employee_info)

conn.commit()

cursor.execute('select * from departments')
rows = cursor.fetchall()
for row in rows:
    print(row)

cursor.execute('select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'IT')
(2, 'HR')
(3, 'Marketing')
(4, 'Sales')
(5, 'IT')
(6, 'HR')
(7, 'Marketing')
(8, 'Sales')
(9, 'IT')
(10, 'HR')
(11, 'Marketing')
(12, 'Sales')
(13, 'IT')
(14, 'HR')
(15, 'Marketing')
(16, 'Sales')
(17, 'IT')
(18, 'HR')
(19, 'Marketing')
(20, 'Sales')
(21, 'IT')
(22, 'HR')
(23, 'Marketing')
(24, 'Sales')
(25, 'IT')
(26, 'HR')
(27, 'Marketing')
(28, 'Sales')
(29, 'IT')
(30, 'HR')
(31, 'Marketing')
(32, 'Sales')
(33, 'IT')
(34, 'HR')
(35, 'Marketing')
(36, 'Sales')
(37, 'IT')
(38, 'HR')
(39, 'Marketing')
(40, 'Sales')
(41, 'IT')
(42, 'HR')
(43, 'Marketing')
(44, 'Sales')
(45, 'IT')
(46, 'HR')
(47, 'Marketing')
(48, 'Sales')
(49, 'IT')
(50, 'HR')
(51, 'Marketing')
(52, 'Sales')
(53, 'IT')
(54, 'HR')
(55, 'Marketing')
(56, 'Sales')
(1, 'Alice', 1)
(2, 'Bob', 2)
(3, 'Charlie', 3)
(4, 'Dean', 4)
(5, 'Alice', 1)
(6, 'Bob', 2)
(7, 'Charlie', 3)
(8, 'Dean', 4)
(9, 'Alice', 1)
(10, 'Bob', 2)
(11, 'Charlie', 3)
(12, 'Dean', 4)
(13, 'Alice', 1)
(14, 'Bob', 2)
(15, 'Charlie', 3)
(16, 'Dean', 4)
(17, 'Alice', 1)
(18, 'Bob', 2)
(19, 'Charlie', 3)
(20, 'Dean', 4)
(21, 'Alice', 1)
(22, 'Bob', 2)
(23, 'Charlie', 3)
(24, 'Dean', 4)
(25, 'Alice', 1)
(26, 'Bob', 2)
(27, 'Charlie', 3)
(28, 'Dean', 4)
(29, 'Alice', 1)
(30, 'Bob', 2)
(31, 'Charlie', 3)
(32, 'Dean', 4)
(33, 'Alice', 1)
(34, 'Bob', 2)
(35, 'Charlie', 3)
(36, 'Dean', 4)
(37, 'Alice', 1)
(38, 'Bob', 2)
(39, 'Charlie', 3)
(40, 'Dean', 4)

2. Write a query using an `INNER JOIN` to display a list of employees names along with their department names.

In [25]:
cursor.execute('''select employees.name, departments.name
               from employees
               inner join departments
               on employees.dept_id = departments.id''')

rows = cursor.fetchall()
for row in rows:
    print(row)

('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')
('Alice', 'IT')
('Bob', 'HR')
('Charlie', 'Marketing')
('Dean', 'Sales')